@import url(http://fonts.googleapis.com/css?family=Lora:700);
@import url(http://fonts.googleapis.com/css?family=Raleway:500,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
* { margin:0; 
    padding:0; 
    box-sizing: border-box;
}
body {

}
header {
	display: block;
    background: url() no-repeat center;
	background-size: cover;
	margin-top: 0;
	margin: auto;
	padding: 5em 0;
}
img {
    float: left;
    margin: 0.5em 0.5em;
    padding: 0.5em 0.5em;
}   
h1 {
	color: black;
	font-size: 4em;
	font-weight: 800;
    margin: 0.5em 0.5em;
    padding: 0.2em, 0.2em;
    text-align: right;
}
span {
    font-size: 3em;
    font-style:none;
    font-weight: normal;
    margin: 0.2em 0.2em;
    padding: 0.2em;
}
#slogan {
	color: rgb(41, 20, 0);
    font-family: 'Lora', serif;
    font-size: 1em;
    font-style: italic;
    font-weight: 400;
    margin: 0.2em 0.2em;
    padding: 0.2em;
    text-align: right;

}
#author {
    color: rgb();
    font-family: 'Lora', serif;;
    font-size: 1em;
    font-style: none;
    font-weight: 400;
    text-align: right;
}

a{
    color: #000033;
    font-family: 'Lato', sans-serif;;
    font-size: 1.5em;
    font-weight: 400;
    text-transform: lowercase;
    text-decoration: none;
    padding: 2em;
}
.title {
    display: block;
    text-align: right;
}
#navbar {
    text-align: center;
    margin: auto;
}
nav {
	display: inline;
    font-size: 1em;
    font-style: none;
    font-weight: 600;
    left:0px;
    text-align: center;
}
#gallery {
	background: #8A00B8;
}
.snapshot {
	position: absolute;
}
footer {
	background: ;
}
h6 {
	text-align: center;
	color: rgba(0 0 0 0.5);
	font-family: 'Lato', sans-serif;

}
