body {
	background-color: yellow;
}
h1, h2 {
	color: black;
	font-family: helvetica;
	font-size: 16px;
}	
h1 {
	text-align: center;
}
h2 {
	text-align: 60px;
}
p {
	color: maroon;
	font-family: helvetica;
	font-size: 14px;
	text-align: 90px;
}
ol {
    counter-reset: item;
}
ol li {
    display: block;
    position: relative;
    color: maroon;
}
ol li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px; /* space between number and text */
}
	

