@import url("http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.css");
@font-face {
	font-family:'wilmina';
	src: url(../fonts/wilmina.ttf);
}
body {
	font-size: 16px;
	font-family: 'wilmina';
}
h3 {
	font-size: 1em;
}
a{
	text-decoration: none;
}
.clearfix {
	clear: both;
    content: " ";
    display: block;
  	font-size: 0;
    height: 0;
    visibility: hidden;
}    
#topbanner {
	border: 1px solid #000;
}
#mainnavigator {
	border: 1px solid #000;
}
#leftcontentwrap {
	border: 1px solid #000;
}
#leftcontentwrapper {
	border: 1px solid #000;
}
#artistlink {

}
#colaboradoreslink {

}
#exposiciones {

}
#expolinks {

}
#rightcontent {

}
#noticias {

}
#feedcontrol {
	margin-top : 10px;
	margin-left: auto;
	margin-right: auto;
	width : 440px;
	font-size: 12px;
	color: #9CADD0;
}