@import url(http://fonts.googleapis.com/css?family=Lustria);
@import url(http://fonts.googleapis.com/css?family=Cabin:600);
@import url(http://fonts.googleapis.com/css?family=Anaheim);
* { margin:0; 
    padding:0; 
    box-sizing: border-box;
}
body{
}
#banner {
    background: url( https://i.imgur.com/L1RnyB3.jpg ) no-repeat center;
    background-size: cover;
    margin-top: 0;
    margin: auto;
    padding: 10em 0;
}	
h1 {
	color: #fff;
	font-size: 4em;
	font-family: 'Lustria', serif;
    margin: auto;
    padding: 1em;
    text-align: center;
}
h2, p {
    color: rgb(41, 20, 0);
    font-family: 'Anaheim', sans-serif;
}
h2{
    font-size: 1.5em;
}
p{
    font-size: 1em;
}
a{
    color: #244700;
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 1em;
}
#slogan {
	color: #fff;
	font-size: 1.5em;
	font-style: italic;
    margin: auto;
    margin-top: 10px;
    padding: 0.5em;
    text-align: center;
}
#navbar {
    background-color: white;
    top: 60px;
    margin: auto;
    text-align: center;
    width: 1024px;
} 
.navigationbar{
    color:#005C00;
    display: inline;
    font-family: 'Cabin', sans-serif;
    font-size: 1em;
    font-style: none;
    font-weight: 600;
    left:0px;
    text-transform: uppercase;
    text-decoration: none;
    
}
#imagesnavbar {
    top: 160px;
    margin: auto;
    padding:1.5em;
}
#description {
    background-color: rgb(41, 82, 0);
    background: cover;
    color: #291400;
    font-family: 'Anaheim', sans-serif;
}
.envolvente {
    width: 1024px;
    margin:auto;
    padding:5em 0;
}
.columna1 + .columna2 {
    margin:0 0 0 7.25em;
}
.columna1 {
    float: left;
    width: 600px;
    margin-left: 2em;
}
.columna2{
    display:inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    width: 500px;
}
.currentimage {
    text-align: left;
    float: left;
    height: 400px;
    width: 600px;
    padding: .5em;
}
#destitle {
    color: #291400;
    font-weight: bold;
    font-size: 2em;
    margin:0 0 1em;
    padding: 0.5em;
}
hr {
    background-color: #291400;
    border:none;
    height:.3em;
    width:18em;
    margin:0 0 1em;
}
#about {
    color: #291400;
    font-size: 1.5em;
    float: left;
    height: 400px;
    line-height: 1.618em;
    margin: 0 0 1em;
    padding: 0.5em;
    text-align: left;
    width: 500px;
}